I2A2___Exercicio_v2.json
{
  "name": "I2A2 - Exercicio v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -180
      ],
      "id": "22583449-6c74-4a18-b3c8-a9cd2f4c5de4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1jaNl2kL-a32HO_jXH3g3J1mGHzHWm9YD",
          "mode": "list",
          "cachedResultName": "202401_NFs.zip",
          "cachedResultUrl": "https://drive.google.com/file/d/1jaNl2kL-a32HO_jXH3g3J1mGHzHWm9YD/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -820,
        -180
      ],
      "id": "85b36d28-3caa-489f-8c5d-0f18ad2e9ba5",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zuHLnXfs2xwlx9NA",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        40,
        -60
      ],
      "id": "c829c10b-d177-474b-9276-7802123fea28",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    binary: { data: $items(\"Unzip\")[0].binary.file_0 },\n    json: { _origem_temp: 'cabecalho' }\n  },\n  {\n    binary: { data: $items(\"Unzip\")[0].binary.file_1 },\n    json: { _origem_temp: 'itens' }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -180
      ],
      "id": "63c20256-2b98-4469-b847-dd279584e3b8",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -600,
        -180
      ],
      "id": "611d53d6-08dd-4a3c-88c8-e3c50a9b33cd",
      "name": "Unzip"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "cabecalho_nf",
          "mode": "list",
          "cachedResultName": "cabecalho_nf"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        940,
        -160
      ],
      "id": "0740e5ea-c9cb-4c83-bbaa-a5dc637b23ea",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "rW9YKMFpYpsb0VVS",
          "name": "Supabase account - Jarvisjr"
        }
      }
    },
    {
      "parameters": {
        "content": "Tratando arquivo zip\n",
        "height": 360,
        "width": 1580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -260
      ],
      "id": "9b9bb4cb-9344-4356-b540-185bc2a2e36d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        60
      ],
      "id": "1860a2a9-69e7-49d6-8b35-cee4a4ee3f78",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xoxEkCT0ixiZIbih",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1000,
        60
      ],
      "id": "562933c5-af33-4501-8fb3-a9662ee889bb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1020,
        200
      ],
      "id": "5ce6b36b-07d8-40e3-89e3-5fb7df978a85",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dados = item.json;\n\n  return {\n    json: {\n      texto: [\n        `CHAVE DE ACESSO: ${dados[\"CHAVE DE ACESSO\"]}`,\n        `MODELO: ${dados[\"MODELO\"]}`,\n        `SÉRIE: ${dados[\"SÉRIE\"]}`,\n        `NÚMERO: ${dados[\"NÚMERO\"]}`,\n        `NATUREZA DA OPERAÇÃO: ${dados[\"NATUREZA DA OPERAÇÃO\"]}`,\n        `DATA EMISSÃO: ${dados[\"DATA EMISSÃO\"]}`,\n        `EVENTO MAIS RECENTE: ${dados[\"EVENTO MAIS RECENTE\"]}`,\n        `DATA/HORA EVENTO MAIS RECENTE: ${dados[\"DATA/HORA EVENTO MAIS RECENTE\"]}`,\n        // `CPF/CNPJ Emitente: ${dados[\"CPF/CNPJ Emitente\"]}`,\n        // `RAZÃO SOCIAL EMITENTE: ${dados[\"RAZÃO SOCIAL EMITENTE\"]}`,\n        // `INSCRIÇÃO ESTADUAL EMITENTE: ${dados[\"INSCRIÇÃO ESTADUAL EMITENTE\"]}`,\n        `UF EMITENTE: ${dados[\"UF EMITENTE\"]}`,\n        `MUNICÍPIO EMITENTE: ${dados[\"MUNICÍPIO EMITENTE\"]}`,\n        // `CNPJ DESTINATÁRIO: ${dados[\"CNPJ DESTINATÁRIO\"]}`,\n        // `NOME DESTINATÁRIO: ${dados[\"NOME DESTINATÁRIO\"]}`,\n        `UF DESTINATÁRIO: ${dados[\"UF DESTINATÁRIO\"]}`,\n        `INDICADOR IE DESTINATÁRIO: ${dados[\"INDICADOR IE DESTINATÁRIO\"]}`,\n        `DESTINO DA OPERAÇÃO: ${dados[\"DESTINO DA OPERAÇÃO\"]}`,\n        `CONSUMIDOR FINAL: ${dados[\"CONSUMIDOR FINAL\"]}`,\n        `PRESENÇA DO COMPRADOR: ${dados[\"PRESENÇA DO COMPRADOR\"]}`,\n        `VALOR NOTA FISCAL: ${dados[\"VALOR NOTA FISCAL\"]}`,\n        // `NÚMERO PRODUTO: ${dados[\"NÚMERO PRODUTO\"]}`,\n        `DESCRIÇÃO DO PRODUTO/SERVIÇO: ${dados[\"DESCRIÇÃO DO PRODUTO/SERVIÇO\"]}`,\n        `CÓDIGO NCM/SH: ${dados[\"CÓDIGO NCM/SH\"]}`,\n        `NCM/SH (TIPO DE PRODUTO): ${dados[\"NCM/SH (TIPO DE PRODUTO)\"]}`,\n        `CFOP: ${dados[\"CFOP\"]}`,\n        `QUANTIDADE: ${dados[\"QUANTIDADE\"]}`,\n        // `UNIDADE: ${dados[\"UNIDADE\"]}`,\n        `VALOR UNITÁRIO: ${dados[\"VALOR UNITÁRIO\"]}`,\n        `VALOR TOTAL: ${dados[\"VALOR TOTAL\"]}`\n      ].join(\"; \")\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -140
      ],
      "id": "b3088408-81a2-42a7-9d46-e7e7257e281a",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        220
      ],
      "id": "9fa52740-0558-4622-a5de-b17650ef7568",
      "name": "When chat message received",
      "webhookId": "ee9655ef-c872-4aaf-8ac4-20c1148bf4e4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n\nresponda com base no `vetor de ferramentas` se for obter os resultados de notas fiscais ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -720,
        220
      ],
      "id": "70b5208a-a4b6-4ff4-89dc-a6b4e2506912",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -740,
        420
      ],
      "id": "4db551a7-0d27-4784-8e91-41f9aa442c05",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xoxEkCT0ixiZIbih",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -600,
        440
      ],
      "id": "a033416d-e7ef-4622-8b05-2e0d62bd7f1b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "28XyFddqSLtXavO6",
          "name": "Postgres account \\ supabase \\ RAG"
        }
      }
    },
    {
      "parameters": {
        "description": "This content contains invoice data. Whenever there are questions related to this topic, use this information to respond"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -480,
        440
      ],
      "id": "13b4cab6-c827-4fd8-9af6-82554cad6804",
      "name": "tool vector"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -220,
        580
      ],
      "id": "7d7634a7-18fc-4d1a-8022-31cd10701806",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xoxEkCT0ixiZIbih",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -500,
        760
      ],
      "id": "3b381f1d-5eb6-40f9-84e5-0fdaa224fb89",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "xoxEkCT0ixiZIbih",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "cabecalho_nf",
          "mode": "list",
          "cachedResultName": "cabecalho_nf"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -560,
        620
      ],
      "id": "f6dfeba8-c34a-4a81-8c36-b6ea826df8f4",
      "name": "Supabase Vector Cabecalho NF",
      "credentials": {
        "supabaseApi": {
          "id": "rW9YKMFpYpsb0VVS",
          "name": "Supabase account - Jarvisjr"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        40,
        -260
      ],
      "id": "925b7734-b24c-4dcc-a2ca-d2f7a5b3b699",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8141cc30-6117-4a68-9b20-30934d1f6096",
              "leftValue": "={{ $json._origem_temp }}",
              "rightValue": "cabecalho",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        -180
      ],
      "id": "4cdb0419-c697-4bde-b167-c4fdf8397c8b",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['CHAVE DE ACESSO']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        280,
        -140
      ],
      "id": "c7f127a0-6f42-4c28-b21e-5a6ff71ec413",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 3);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        40
      ],
      "id": "b65d4a28-7f79-46f0-a9f6-2cddac60456e",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "RAG - Vetorização da base",
        "height": 1200,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -260
      ],
      "id": "e70f28b9-8a54-4f15-b0ba-1951a3a2192b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Agente",
        "height": 820,
        "width": 1580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        120
      ],
      "id": "ff86d111-2199-4259-9856-13c7161ea42f",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Unzip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "tool vector": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "tool vector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Cabecalho NF",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Cabecalho NF": {
      "ai_vectorStore": [
        [
          {
            "node": "tool vector",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b72161b9-4601-4843-837a-d1d3d8b88faa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "834195ebfc035840fee5ef3ecb2ac4447a897fc986c27c0392a088a144801d03"
  },
  "id": "Wf9ds04eUio4l7cO",
  "tags": []
}